* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 62.5%;
}

.container {
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;

}

header nav a {
  border: none;
  color: #f8c854;
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

header nav {
  background: rgba(18, 50, 81, 0.8);
  height: 8vh;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
}

.hero {
  background-image: linear-gradient(rgba(253, 199, 67, 0.9),
      rgba(253, 95, 67, 0.8)),
    url("/src/img/HEADER.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 90vh;
  text-align: center;
  position: relative;
  color: #123251;
}

.title {
  font-size: 2.4rem;
  padding: 5rem 0 0 0;
}

.firma {
  font-size: 1.6rem;
}

.corteabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 15vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.cortearriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 15vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.slogan {
  padding: 1.9rem 0 1.6rem 0;
  font-size: 1.6rem;
}

/* header a {
  border: 1px solid;
  padding: 0.4rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #123251;
  font-size: 1rem;
} */


header a img {
  z-index: 30;
  width: 3rem;
  height: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 6rem;
  animation: movimiento 2s alternate infinite ease-in;
}

.facebook img {
  z-index: 30;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 3.5rem;
  animation: movimiento 2s alternate infinite ease-in;
}

@keyframes movimiento {
  0% {
    transform: translateX(-18%);
  }

  100% {
    transform: translateX(30%);
  }
}

.aliados img {
  width: 330px;
  height: 250px;
  margin-top: -30px;
}

.aliados h2 {
  font-size: 1.6rem;
  padding: 1.6rem;
}

.nosotros img {
  width: 19rem;
  height: 17rem;
  border-radius: 1.6rem;
  text-align: center;
}

.Titulos {
  text-align: center;
  font-size: 2.6rem;
  padding: 0.7rem 0;
}

.description {
  font-size: 0.9rem;
  text-align: justify;
  font-size: 1.2rem;
}

.services {
  background-image: linear-gradient(rgba(253, 199, 67, 0.9),
      rgba(253, 95, 67, 0.6)),
    url("/src/img/services.jpg");
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*  border: 1px solid red; */
}

.Titulo2 {
  padding: 5rem 0 1.3rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: #123251;
}

.services img {
  width: 3rem;
  height: 3rem;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 1rem;
  margin: 1rem auto;
}

.services article {
  display: flex;
  align-items: center;
}

.services article span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.clientes img {
  width: 2rem;
  height: 2rem;
}

.clientes {
  padding: 1rem 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-content: center;
  /* margin-left: 0.7rem; */
}

.clientes article {
  display: flex;
  align-items: center;
}

.clientes span {
  border: 1px solid;
  margin: 0.6rem 0 0 0.5rem;
  padding: 0.6rem;
  border-radius: 1.3rem;
}

.description-clientes {
  font-size: 0.8rem;
  text-align: center;
}

footer {
  width: 100vw;
  height: 10vh;
  background: #123251;
  color: #fff;
  text-align: center;
  padding: 0.7rem 0;
  font-size: 0.9rem;
}

.desarrollador {
  font-size: 0.7rem;
  padding-top: 0.6rem;
}

.target img {
  width: 6.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.target {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 0.8rem;
  grid-gap: 1rem;
  padding: 0.6rem;
  border: 1px solid;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px 3px rgba(68, 68, 67, 0.3);
}

.productos p {
  font-size: 0.8rem;
}

.productos {
  padding: 0 1.5rem;
}